:root {
  --dark-background: #363636;
  --dark-text: #363636;
  --light-background: #f9f9f9;
  --light-text: #f9f9f9;
  --primary-color: #b82b21;
  --secondary-color: #62aaa7;
  --secondary-background: #5a6a80;
}

/**************************
 DARK THEME COLORS 
**************************/
.dark {
  background-color: var(--dark-background);
  color: var(--light-text);
}

.dark a {
  color: var(--light-text);
  text-decoration: none;
}

/**************************
 LIGHT THEME COLORS 
**************************/
.light {
  background-color: var(--light-background);
  color: var(--dark-text);
}

.light a {
  color: var(--dark-text);
  text-decoration: none;
}

/**************************
 GENERAL STYLES
**************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  margin: 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
