.product__name {
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
}

.product__category {
  display: block;
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 0.35rem;
}

.product__price {
  font-weight: 500;
}
