.search__form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  background-color: var(--secondary-background);
}
