.navbar__shopping-cart {
  position: relative;
}

.navbar__shopping-cart--counter {
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.2rem;
}
